<% layout('boilerplate') %>

<div class="container">

	<% if (message.length > 0) {%>
	  <div class="alert alert-success alert-dismissible">
	    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times</span>
	    </button>
	    <%= message %>
	  </div>

	<% } %>

	

	<div class='container'>
		<div class="row" style = 'padding: 0 90px;'>
			<div class="col-lg-4">
				<img src="<%= user.profile.picture %>" />
			</div>
			<div class='col-lg-4' style="text-align:center;padding: $spacer !important;">
				<h4><%= user.profile.name %></h4>
			</div>
			<div class="col-lg-4"></div>
		</div>

	</div>

</div>

<br>

<div class="jumbotron" >
  <div class="container22" style="height: 50px;">
    <div class="row">
    <div class="col-lg-4"></div>
      <div class="col-lg-4 text-center">
        <h3>Enrolled Courses</h3>
      </div>   
      <div class="col-lg-4"></div>

    </div>
  </div>
</div>

<div class='container'>


 <% for (var i = 0; i < courses.length; i++) { %>
   
    <div class="col-md-4">

    <% for (var j = 0; j < user.coursesTaken.length; j++) { %>

    
      <% if (courses[i]._id.toString() == user.coursesTaken[j].course.toString())  { %>

      
      <a href="/courses/<%= courses[i]._id %>"
        style="text-decoration: none; color: #34495e">
        <div class="panel panel-default">

          <div class="panel-body" style="border:0px;height:250px;overflow-y:auto">
            <h4><%= courses[i].title %></h4>
            <p>Description:</p>
            <p style="text-align:justify"><%= courses[i].desc %></p>
          </div>

      </div>
      </a>
      <% } %>
      <% } %>
    </div>
    <% } %>
    </div>
